@model IEnumerable<Project.Models.Sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/calendar.min.css" rel="stylesheet" />
}

@section scripts {
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/calendar.min.js"></script>
    <script src="@Url.Content("~/Scripts/Sale.jsx")"></script>
}






<div id="sale"></div>

